/** Ogólne */

:root {
  --color-dark: #111418;
  --color-light: #ebebeb;
  --color-blue: #449dd1;
  --color-green: #1a936f;
  --color-red: #ef6461;
}

/** Sidebar ogólne */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-dark);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Sidebar Sekcja górna */

.sidebar__center,
.sidebar__top,
.sidebar__bottom {
  white-space: nowrap;
}
.content--text-white {
  color: var(--color-light);
}
.content--text-dark {
  color: var(--color-dark);
}
.sidebar__top {
  width: 100%;
  height: 210px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.sidebar__paragraph {
  text-align: center;
  font-size: 1em;
  line-height: 25px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.15em;
}
.sidebar__paragraph--small {
  text-align: center;
  font-size: 0.8em;
  line-height: 25px;
  font-weight: 400;
  margin: 0 0 20px 0;
  letter-spacing: 0.065em;
}

.sidebar__faceimg {
  height: 200px;
  width: 200px;
  border: 3px solid rgba(255, 255, 255, 0.486);
  border-radius: 50%;
  margin: 20px 0;
}

/** Sidebar Sekcja środkowa */
.sidebar__center {
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.sidebar__list {
  padding: 0;
}

.sidebar__item {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.sidebar__icon {
}

.fas,
.fab {
  background-color: rgba(153, 153, 153, 0.075);
  border-radius: 15px;
  padding: 10px;
}
/** Sekcja Sekcja dolna */

.sidebar__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__b-text {
  font-size: 0.8em;
  margin: 20px 0 0 0;
}
.sidebar__container {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.sidebar__colorbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  margin-right: 15px;
  cursor: pointer;
}

.colorbox--dark {
  background-color: var(--color-dark);
}

.colorbox--blue {
  background-color: var(--color-blue);
}
.colorbox--green {
  background-color: var(--color-green);
}
.colorbox--red {
  background-color: var(--color-red);
}
.colorbox--light {
  background-color: var(--color-light);
  color: #111418;
}

.sidebar__colorbox:nth-child(5) {
  margin-right: 0;
}

.loader {
  width: 100vw;
}
.loader__text {
  font-size: 18px;
  maring-top: 20px;
  width: 80%;
}
.nav_open {
  font-family: "Playfair Display", serif;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
}
.sidebar__faceimg {
  height: 100px;
  width: 100px;
  border: 3px solid rgba(255, 255, 255, 0.486);
  border-radius: 50%;
  margin: 20px 0;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 20px;
  text-decoration: none;
  font-size: 32px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.loader__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 80px;
  height: 80px;
}
.loader__animation span {
  width: 30%;
  height: 30%;
}

a.nav__link {
  text-decoration: none;
  color: #ebebeb;
}

a.nav__link:hover {
  text-decoration: none;
  color: #9ca3af;
}
