/** Ogólne */
.sidebar {
  z-index: 1909;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 250px;
  background-color: #111418;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window {
  display: flex;
}
.main {
  margin-left: 80px;
  background-color: #3f4347;
  width: 100%;
  height: 200vh;
}
/** Sekcja górna */
.sidebar__top {
  width: 100%;
  height: 210px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.sidebar__top__faceimg {
  height: 100px;
  width: 100px;
  border: 3px solid rgba(255, 255, 255, 0.486);
  border-radius: 50%;
  margin: 20px 0;
}

.sidebar__top__paragraph {
  text-align: center;
  font-size: 1em;
  line-height: 25px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.15em;
}
.sidebar__top__paragraph--small {
  text-align: center;
  font-size: 0.8em;
  line-height: 25px;
  font-weight: 400;
  margin: 0 0 20px 0;
  letter-spacing: 0.065em;
}

/** Sekcja środkowa */

.sidebar__center {
  padding: 25px 0 25px 0;
  width: 80%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.sidebar__center__list {
  list-style: none;
  padding: 0;
}

.sidebar__center__list__item {
  margin-bottom: 20px;
  margin-left: 10px;
}
.sidebar__center__list__item__text {
  font-size: 1.1em;

  font-family: "Montserrat", sans-serif;
}
.sidebar__center__list__item__icon {
  color: #883677;
  font-size: 22px;
  margin-right: 10px;
}

.fas,
.fab {
  background-color: rgba(153, 153, 153, 0.075);
  border-radius: 15px;
  padding: 10px;
}
.fa-users,
fa-home {
  font-size: 20px;
}

/** Sekcja dolna */

.sidebar__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__bottom__colorbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}
.colorbox--dark {
  background-color: #111418;
}

.colorbox--night {
  background-color: #312e81;
}

.colorbox--light {
  background-color: #dadada;
  color: #111418;
}

.sidebar__bottom__colorbox__container {
  display: flex;
  flex-direction: row;
}
.sidebar__bottom__colorbox:nth-child(3) {
  margin-right: 0;
}

li.sidebar__center__list__item:hover {
  color: #312e81;
}

.sidebar--minimized {
  position: fixed;
  width: 80px;
  height: 100vh;
  background-color: #111418;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease;
}

.sidebar__top__faceimg--small {
  height: 50px;
  width: 50px;
  margin: 75px 0 20px 0;
  transition: all 1s ease-out;
  border: 3px solid rgba(255, 255, 255, 0.486);
  border-radius: 50%;
}

.menu_mobile {
  position: fixed;
  display: none;
  right: 10px;
  top: 10px;
  margin: 0;
  padding: 0;
}

label {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

label span {
  background: #fff;
  border-radius: 10px;
  height: 3px;
  margin: 4px 0;
}

span:nth-of-type(1) {
  width: 100%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}
