/** kropki */

#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ebebeb;
  overflow-y: hidden;
  max-height: 100vh;
  opacity: 1;
  /* display: none; */
}
.loader__wrapper--inactive {
  max-height: 0vh !important;
  opacity: 0 !important;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  /* display: none; */
}

.load span {
  border: 0;
  margin: 0;
  width: 30%;
  height: 30%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #20a4f3;
  animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #fb4b4e;
  animation-delay: -1s;
}

.load :nth-child(3) {
  background: #de9e36;
  animation-delay: -0.5s;
}

.load :last-child {
  background: #3f4045;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/** tekst*/
.load__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #20a4f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  margin-top: 60px;
  text-align: center;
  /* display: none; */
}

/** Animowana dłoń */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
