/** kropki */

#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: #222325;
  max-height: 100vh;
  opacity: 1;
}
.loader--inactive {
  max-height: 0vh !important;
  margin-top: -100px;
  opacity: 0 !important;
  transition: all 1.25s ease;
}
.loader__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 100px;
  height: 100px;
}

.loader__animation span {
  border: 0;
  margin: 0;
  width: 30%;
  height: 30%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.loader__animation :first-child {
  background: #20a4f3;
  animation-delay: -1.5s;
}

.loader__animation :nth-child(2) {
  background: #fb4b4e;
  animation-delay: -1s;
}

.loader__animation :nth-child(3) {
  background: #de9e36;
  animation-delay: -0.5s;
}

.loader__animation :last-child {
  background: #111418;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/** tekst*/
.loader__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #ebebeb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80px;
  text-align: center;
}

/** Animowana dłoń */
.loader__text--wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
